.navBar {
  position: absolute;
  z-index: 999;
  right: 0;
  top: 16px;
  display: flex;
  border-bottom: none;
  width: max-content;
}

.txt {
  word-wrap: break-word;
  text-align: center;
  margin: 10px 0;
}

.img {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.png {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.signIn {
  color: rgb(21, 191, 40);
}

.signOut {
  color: rgb(206, 4, 61);
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  min-width: 80px;
  min-height: 40px;
  height: 50px;
  padding: 0 15px;

  color: rgb(5, 128, 101);
  font-size: 15px;
  font-weight: bold;

  cursor: pointer;
  user-select: none;
  text-align: center;
}

@media (max-width: 1000px) {
  .navBar {
    top: 16rem;
    left: 3rem;
    right: auto;
    flex-direction: column;
  }
}

.navItem:hover {
  background-color: rgb(232, 231, 231);
}

.navItem:hover > .sign {
  background-color: rgb(232, 231, 231);
}