.error { color: #d00e0e !important; }

.past { color: #979494; }

.current {
  background-color: #0d6e73;
  color: #fff;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    background-color: #f7edda;
    color: #000;
  }
}