.character {
  padding: 2vh 0 5vh 0;
  width: 600px;
  color: #111;
  font-family: Arial, Century Gothic, Courier New;
  font-size: 21px;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
}

.loading { color: #979494; }