.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  padding: 5rem 10rem 0;
}

.title {
  align-self: center;
}

.main {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6vh;
  white-space: pre;
}