html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f7edda;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  padding: 3rem 10rem 0;
}

a {
  color: rgb(5, 128, 101);
  font-weight: bold;
  text-decoration: none;
}

#title {
  position: absolute;
  left: 5px;
  cursor: pointer;
  width: max-content;
}

* {
  box-sizing: border-box;
}

.logo {
  height: 1em;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}