.character {
  color: #111;
  font-family: Arial, Century Gothic, Courier New;
  font-size: 21px;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
}

.past {
  color: silver;
}

.current {
  background-color: #0d6e73;
  color: #fff;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    background-color: #fff;
    color: #000;
  }
}

.error {
  color: #d00e0e !important;
}

.space {
  color: rgba(38,36,61,.5);
}

.break {
  flex-basis: 100%;
  height: 0;
}