.character {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  white-space: pre-wrap;
  word-spacing: normal;
  text-align: left;
  word-wrap: break-word;

  color: #26243d;
  font-family: Ubuntu Mono,Lucida Console,monospace;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
}

.past {
  color: silver;
}

.current {
  background-color: #09d3ac;
  color: #000 !important;
}

.blink {
  color: #fff;
  background-color: #000;
}

.error {
  color: #ff0000;
}

.space {
  color: rgba(38,36,61,.5);
}